@model CoreJob.Web.Dashboard.Models.UserViewModel
<form class="ui form" id="form" enctype="multipart/form-data">
    <div class="ui clearing basic segment" style="padding: 0px" id="header">
        <div style="float: right">
            <a class="ui button" id="btn-discard" href='@Url.Action("index", "home")'>取消</a>
            <div class="ui buttons">
                <div class="ui primary button" id="btn-update-password">修改</div>
            </div>
        </div>
        <h1 class="ui left floated header">
            修改密码
        </h1>
    </div>

    <div class="ui segment">
        <div id="account-properties">
            <div class="field accept-error">
                <label>旧密码</label>
                <input type="password" name="@nameof(Model.Password)"/>
            </div>
            <div class="field accept-error">
                <label>新密码</label>
                <input type="password" name="NewPassword"/>
            </div>
            <div class="field accept-error">
                <label>确认新密码</label>
                <input type="password" name="C_NewPassword" />
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script>
        function updatePassword() {
            $('#dimmer').dimmer('show');
            var pwd1 = $("input[name='NewPassword']").val();
            var pwd2 = $("input[name='C_NewPassword']").val();

            if (pwd1 != pwd2) {
                return;
            }
            var formData = new FormData($('#form')[0]);

            $.ajax({
                type: 'POST',
                enctype: 'multipart/form-data',
                url: '@Url.Action("changepassword", "account")',
                data: formData,
                processData: false,
                contentType: false,
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (processValidationResponse(data)) {
                        document.location = '@Url.Action("index", "home")';
                    } else {
                        $('#dimmer').dimmer('hide');
                    }
                },
                error: function (e) {
                    $('#dimmer').dimmer('hide');
                    prependErrorMessage(e, $('#account-properties'));
                }
            });
        }

        $(function () {
            $('#btn-update-password').click(function () { updatePassword(); });
        });
    </script>
}
